a Prime Move Triangulation can only be performed in a lateral orbit
pairing cannot occur during positional play
a Jessop's Loop must be completed before moving laterally
Norton's 3rd Convention prohibits blocking
Southern approaches can only be made after a loop
diagonal play is not allowed
contraflows are inverted
crossing a pedestrianised area is prohibited
Crosshatching may only be used in conjunction with another player's move
only unvisited stations can be Trumped
